.dis{
    display: flex;
    list-style: none;
}
li {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 150px;
    margin: 0   16px    16px    0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .15)
    }
.id {

}

.name{
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
   
}

.button {
    
    justify-content: center;
    width: 100px;
    height: 30px;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    
}